@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Tektur:wght@400..900&display=swap');

body {
    font-family: 'Cardo',
    sans-serif;
    padding: 20px;
    background-color: #bebebe;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
}


form {
    margin-bottom: 20px;
}
input  {
    margin-right: 10px;
    padding: 5px;
}

#task-form input {
    box-sizing: border-box;
    padding: 7px 8px;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 18px;
    border: 1px solid #d6dbe5;
    border-radius: 8px;
    background: #fcfdff;
    transition: border-color 0.12s ease, box-shadow 0.12s ease;
}

#task-form input:focus {
    outline: none;
    border-color: #63c07a;
    box-shadow: 0 6px 18px rgba(99, 192, 122, 0.12);
}

#task-form button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    color:#ffffff ;
    background: linear-gradient(90deg, #35a067 0%, #2f8f 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(47, 143, 91, 0.12);
    transition: border-color 0.8s ease, box-shadow 0.12s, opacity 0.12s ease;
}

ul {
    width: 530px;
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px 0 12px 0;
    padding: 10px;
    font-size: 2em;
    line-height: 1.3;
    border-left: 5px solid #4caf50;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}



